html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
}
h1 {
    font-family: 'Segoe UI', sans-serif, monospace;
    font-size: 36px;
    font-weight: 500; 
    text-align: center;
    padding: 20px;
}
h2 {
    font-family: 'Segoe UI', sans-serif, monospace;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 10px;
}
p {
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    text-align: center;
}
ul {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 750px;
    padding-left: 5%;
    display: inline-block;
    margin: 30px auto 0 auto;
}
.header img {
    display: block;
    margin: 0 auto 15px auto;
}
.header p {
    margin: 15px auto 15px auto;
}
.timeline ul {
    display: block;
    width: 600px;
    margin: 30px auto 0 auto;
    text-align: left;
    line-height: 28px;
}
.timeline h2 {
    margin: 15px auto -15px -150px;
    font-weight: 700;
}
.top-header {
    background-color: lightgrey;
}
.timeline {
    background-color: lightgray;
    padding: 1px;
}
.testimony {
    background-color: lightgray;
    padding: 30px;
    font-style: italic;
}
.testimony p {
    padding: 15px;
    font-size: 14px;
}
.bottom-text p {
    font-size: 14px;
    background-color: lightgray;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 35px;
}